.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36px 1fr;
    row-gap: 30px;
    column-gap: 56px;
    width: 695px;
    height: 640px;
    background: var(--COLOR_WHITE_DEFAULT);
    border: 2px solid var(--COLOR_BLUE_DEFAULT);
    border-radius: 6px;
    margin: 20px auto;
    padding: 38px 76px;
    position: relative;
}

.display_dissable {
    position: absolute;
    width: 240px;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.operandor_dissable {
    top: 75px;
    position: absolute;
    width: 240px;
    height: 56px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.number_dissable {
    position: absolute;
    top: 140px;
    width: 240px;
    height: 224px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.equal_dissable {
    position: absolute;
    bottom: 0px;
    width: 240px;
    height: 72px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.element-constructor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 243px;
    height: 448px;
}